@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

$bodyFont: "Roboto", sans-serif;
$font: 19px;
$bodyColor: #777;
$white: #fff;
$blue: #4f9ec5;
$lightgray: #eee;
$gray: #444;
$transition: 0.3s ease;
$padding: 100px 0;

/* MIXINS */
@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin line {
  width: 50%;
  height: 1px;
  background: $lightgray;
  margin: 25px auto;
  border: none;
}

@mixin btn {
  padding: 10px 25px;
  background: $blue;
  margin-top: 30px;
  color: $white;
  border: none;
  transition: $transition;
  border-radius: 20px 20px 20px 0;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: $gray;
  }
}

/* BASIC */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $bodyFont;
  font-size: $font;
  color: $bodyColor;
  font-weight: 300;
  line-height: 2;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
a {
  text-decoration: none;
  transition: $transition;
}
.container {
  width: 80%;
  margin: auto;
  @media (max-width: 767px) {
    width: 90%;
  }
}

/* HEADER */
header {
  background-image: linear-gradient(rgba($gray, 0.5), rgba($white, 0.97)),
    url(img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  border-top: 10px solid $blue;
  @include flex(center, center, column);
  h1 {
    font-size: 6rem;
    color: $white;
    text-shadow: 1px 2px $gray;
    @media (max-width: 767px) {
      font-size: 5rem;
    }
  }
  p {
    font-size: 3rem;
    color: $gray;
    font-weight: 400;
    a {
      color: $gray;
    }
    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }
}

/* WELCOME */
.welcome {
  text-align: center;
  padding: $padding;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  hr {
    @include line();
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.1rem;
    margin: 10px 0;
    font-weight: 400;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
  .row {
    margin: 20px 0;
    @include flex(space-between, flex-start, row);
    div {
      flex: 0 0 29%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        margin: 30px 0;
      }
      i {
        color: $blue;
        font-size: 2.2rem;
      }
      h5 {
        font-size: 1.2rem;
      }
      button {
        @include btn();
      }
    }
  }
}

/* BLOG */
.blog {
  background: $lightgray;
  div {
    @include flex(space-between, center, row);
    padding: $padding;
    article {
      flex: 0 0 48%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        margin: 30px 0;
      }
      img {
        width: 100%;
        border-radius: 40px 40px 40px 0;
        box-shadow: 5px 5px 0 $blue;
      }
      h5 {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 10px 0;
        @media (max-width: 767px) {
          font-size: 1rem;
        }
      }
      p {
        font-size: 1.1rem;
        font-weight: 300;
        @media (max-width: 767px) {
          font-size: 0.9rem;
        }
      }
      button {
        @include btn();
      }
    }
  }
}

/* FOOTER */
footer {
  background: $gray;
  color: $white;
  text-align: center;
  padding: $padding;
  font-weight: 400;
  hr {
    @include line();
  }
  h4 {
    font-size: 1.5rem;
    @media (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  p {
    font-size: 1.2rem;
    @media (max-width: 767px) {
      font-size: 0.9rem;
    }
  }
  a {
    color: $blue;
    i {
      padding: 10px;
      font-size: 1.5rem;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }
    }
  }
}
